<div class="">
    <!-- <img src="../../assets/images/home.svg" > -->
    <video  autoplay="true" loop="true" class="bgImg">
      <source src="../../assets/images/pexels-mikhail-nilov-6963744 (Original).mp4" type="video/mp4" >
    </video>
    <div class=" container  py-5">
      <div class="d-flex justify-content-center scamDiv">
        <h1>SCAM BUSTERS</h1>
        <p>The ultimate tool for detecting fraud websites and customer care       |
          |   numbers.</p>
      </div>


    </div>
   
</div>
